<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeEcommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= render partial: "cart/cart" if @render_cart%>

      <%= link_to "Home", root_path %>

      <% if current_user %>
        <%= current_user.email %>
        <%#= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
        <%#= link_to "Log out", destroy_user_session_path, 'data-turbo-method': :delete %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Register", new_user_registration_path %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
